html {
    background: url("../images/backGround.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header>h3 {
    padding-left: 80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    align-items: center;
}

.header-menu>li {
    padding: 0px 14px;
}

.header-menu>li h4 {
    font-size: 14px;
}

.header-menu>li:hover svg path {
    fill: #3CB878;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registration-window {
    height: 584px;
    width: 444px;
    border: #FFFFFF solid 2px;
    background: #FFFFFF;
}

.container-in-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
}

.modal-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black;
}

.modal-header>h2 {
    color: #434343;
    font-size: 20px;
    line-height: 20px;    
}

.modal-header>a {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.modal-header>a:hover {
text-decoration: underline;
}


.modal-header-button {
    display: flex;
    justify-content: space-between;
}
.facebook-bt {
    background-color: #305DB8;
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
}
.google-bt {
    background-color: #DF4A32;
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
}

.or {
    color: #848484;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;   
}
.or::after {
    content: "";
    border: 1px solid #F2F2F2;;
    width: 160px;
}
.or::before {
    content: "";
    border: 1px solid #F2F2F2;;
    width: 160px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    padding-bottom: 10px;
}

.form>input {
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;      
}

.form>input:focus {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3); 
    outline: none;
}


::placeholder {
    color: #BEBEBE;    
  
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox>h4 {
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

.checkbox-link {
    color: #3CB878;
}

.create-bt {
    background-color: #3CB878CC;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    height: 46px;
}

.facebook-bt:hover {
    background-color: #0A162F;    
}
.google-bt:hover {
    background-color:#AB1F09;

}
.create-bt:hover {
    background: #01813F;
}